input[name="project-title"] {
  background-color: #ddd;
  border: 0px solid #ddd;
}

input[name="project-title"]:focus {
  border-color: #ddd;
  box-shadow: 0 0 8px 0 #ddd;
  
}

.button-layer {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  padding-left: 0px;
}

.button-layer button {
  width: 180px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: rgb(46, 107, 170);
  color: rgb(255, 255, 255);
  border: rgb(46, 107, 170);
  border-radius: 4px;
  padding: 11px 24px;
}