/* body 영역을 flexbox로 지정 */
body {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  font-size: 12px;
  color: #555;
}

/*
body 안의 레이어 :
header, main, footer
*/
header,
footer {
  flex: 1;
}

header {
  display: flex;
}

header div {
  color: #ffffff;
  background-color: #242933;
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
}

header > div:nth-of-type(1) {
  width: 10%;
  color: #242933;
  background-color: #ffffff;
}
header .gnb-menu {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
header > div:nth-of-type(3) {
  width: 10%;
}

main {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}
.inner-content {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.top-content {
  /* border: 1px solid red; */
  height: 50px;
}
.top-content div {
  line-height: 60px;
  padding-left: 20%;
  font-weight: 700;
}
.left-content {
  flex: 75%;
  padding-left: 20%;
}
.right-content {
  flex: 25%;
}

.left-box {
  /* margin-left: 10%; */
  /* margin-top: 50px; */
  padding-top: 10px;
  width: 550px;
  height: 500px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
}

.right-box {
  /* margin-top: 10%; */
  width: 160px;
  height: 80px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  font-size: 11px;
  padding: 10px 0px 10px 10px;
}
.right-box > div:nth-child(1) {
  margin-bottom: 10px;
}
.right-box > div:nth-child(2) {
  display: flex;
  flex-direction: row;
}
.profile-username {
  padding-left: 10px;
  padding-top: 5px;
}