.card-layout {
  display: flex;
  width: 700px;
  /* border: 1px solid red; */
  padding: 10px;
  /* margin: 20px; */
  cursor: pointer;
  margin-left: 120px;
}

.item {
  border: 1px solid black;
  width: 150px;
  height: 200px;
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.item img {
  width: 150px;
  height: 150px;
}

.between {
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 40px;
}

#card-layout-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* 이미지와 텍스트를 중앙 정렬 */
  border: 1px solid #ccc; /* 테두리 설정 */
  border-radius: 8px; /* 테두리 둥글기 설정 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 설정 */
  padding: 20px; /* 내부 여백 설정 */
  background-color: #fff; /* 배경색 설정 */

}

#card-layout-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

#card-layout-item img {
  max-width: 100%; /* 이미지가 부모 너비 내에서 최대 크기로 유지 */  
}

#card-layout-item li {
  margin-bottom: 7px;
}

#card-layout-item li:nth-of-type(2) {
  font-weight: 700;
}

li {
  display: flex;
  gap: 20px;
  align-items: center;
}

li:hover {
  font-weight: bold;
  cursor: pointer;
}

li div {
  margin-top: 10px; /* div 요소 사이 간격 */
}

.joinProjects ul {
  margin-left: 10px;
  margin-bottom: 10px;
}

.joinProjects img {
  width: 40px;
  height: 40px;
}

.hidden {
  display: none;
}

.left-box h1 {
  margin: 0px 0px 10px 0px; 
  text-align: center;
  font-size: 1.1rem; 
  font-weight: 700;
}