header,
div,
main,
aside,
article,
section,
footer {
  /* border: 1px dashed black; */
  margin: 10px 10px;
}

/* body 영역을 flexbox로 지정 */
body {
  display: flex;
  flex-direction: column;  
  color: grey;  
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

header,
footer {
  flex: 1;
}

header {
  display: flex;
  flex-direction: row;
  /* line-height: 80px; */
  margin-top: 0px;
  /* height: 50px; */
  display: flex;  
  justify-content: space-between;  
  /* line-height: 70px; */
  color: gray;
  font-weight: 800; 
  font-style:italic;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 80%;
}


header > div:nth-of-type(2) {
  flex: 8;
}
/* <!-- 메인 컨텐츠(탑 메뉴) --> */
header > div:nth-of-type(2) >  nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  /* 최상위 html font-size(16px)의 1.8배 */
  font-size: 1.8rem;
  font-weight: 700;  
}

/* main 영역을 flexbox로 지정 */
main {
  display: flex;
  flex-direction: row;
  flex: 8;
  /* width: 90%; */
  max-width: 900px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside {
  flex: 1;
  justify-content: top;
}

article {
  flex: 5;
}

/* <!-- 좌측 공통 메뉴 --> */
aside > div {
  text-align: center;
  /* border: 1px solid black; */
}
/* 버튼 : 새 프로젝트 */
aside button {
  width: 176px;
  height: 40px;
  line-height: 20px;
  background: #6449fc;    
  border-radius: 4px;
  /* margin: 0 auto; */
  color: #fff;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

aside ul {
  line-height: 30px;
  text-align: right;
  padding-left: 28px;
  width: 150px;  
}

aside li {
  cursor: pointer;
}

div > h1 {
  font-style: italic;
  font-size: 2.2rem;
  font-family: math;
  margin-bottom: 30px;
}

.common-button {
  line-height: 20px;
  background: #6449fc;    
  border-radius: 4px;
  /* margin: 0 auto; */
  color: #fff;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.common-button-size {
  width: 250px;
  height: 40px;
}

input[type="text"],
input[type="password"],
textarea {
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
  display: inline-block;
}

.input-short {
  width: 250px;
}

.input-large {
  width: 500px;
}

input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
