body {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  font-size: 14px;
  color: #555;
}

header,
main {
  /* border: 1px solid black; */
}

header > div,
main > div {
  /* border: 1px solid black; */
}

header,
header .top-center-layer,
header .top-center-layer .gnb-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.1rem;
  height: 50px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
}

.top-left-layer,
.top-right-layer {
  flex: 1;
}

.top-center-layer {
  flex: 8;
}

header {
  color: #ffffff;
  background-color: #242933;
  /* font-size: 13px; */
}

.gnb-menu {
  display: flex;
  flex-wrap: nowrap; /* 자식 요소들을 한 줄에 나열 */
  gap: 80px; /* 자식 요소 사이의 간격 조절 */
}

main {
  display: flex;
}

.main-left-layer {
  flex: 0.4;
}
.main-center-layer {
  flex: 8;
}
.main-right-layer {
  flex: 1.6;
}

.inner-content {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.left-content {
  flex: 8;
  padding-left: 20%;
}
.right-content {
  flex: 2;
  padding-left: 2%;
}

.top-content {
  height: 50px;
}
.top-content div {
  line-height: 60px;
  padding-left: 20%;
  font-weight: 700;
}

.left-box {
  padding-top: 10px;
  width: 100%; /* 변경: 100%로 설정하여 부모 너비에 맞춤 */
  /* max-width: 550px; 변경: 최대 너비 설정 */
  /* height: 500px; */
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  justify-content: center;
  align-items: center;
   /* border: 1px solid black; */
}

.height-700 {
  height: 700px;	
}

.left-box form {
	justify-content : center;
}

.left-box-modify {
  padding-top: 10px;
  width: 100%; /* 변경: 100%로 설정하여 부모 너비에 맞춤 */
  /* max-width: 550px; 변경: 최대 너비 설정 */
  /*height: 600px;*/
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
   /* border: 1px solid black; */
}

.left-box-modify.width-70 {
  width: 70%;
}

.right-box {
  width: 100%; /* 변경: 100%로 설정하여 부모 너비에 맞춤 */
  /* max-width: 160px; 변경: 최대 너비 설정 */
  height: 80px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  font-size: 0.9rem;
  padding: 20px 10px;
  line-height: 20px;
}

.right-box-userinfo {
  display: flex;
}

.profile-username {
  padding-left: 10px;
  padding-top: 5px;
}

.home,
.gnb-menu {
  cursor: pointer;
}

.login-logout {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.logout {
  width: 176px;
  height: 40px;
  line-height: 20px;
  background: #6449fc;    
  border-radius: 4px;
  /* margin: 0 auto; */
  color: #fff;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
.common-button {
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  background-color: #2e6baa;
  color: #fff;
  border: #2e6baa;
}

.common-button-size {
  width: 250px;
  height: 40px;
}

.common-button-circle {
  width: 100px; /* 버튼의 너비 */
  height: 40px; /* 버튼의 높이 */
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border-radius: 50%; /* 원 모양을 위해 절반 크기로 설정 */
  background-color: #2e6baa;
  color: #fff;
  border: none;
  text-align: center;
}

.font-bold {
  font-weight: 700;
}


.button-layer {
  text-align: center;
  display: flex;
  /* width: 700px; */
  justify-content: space-evenly;
  margin-top: 50px;
  padding-left: 50px;
  /* border: 1px solid black; */
}

.button-layer button {
  width: 150px;
  height: 80px;
  /* line-height: 40px; */
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #2e6baa;
  color: #fff;
  border: #2e6baa;
  border-radius: 4px;  
}
