.container {
  display: flex;  
  padding: 10px;
  height: 100%;
    min-height: 100%;

  /* margin: 50px 200px 50px 200px;
  border: 1px solid black; */
}

.logo-section {
  width: 43%;
  margin: 0;
  height: 100%;
  display: flex;
  background-color: #fafafa;
}

.logo-section img {
  height: 100%;
}

.input-section > div {
  width: 460px;
  margin: 180px 20px;
  /* padding-left: 32px; */
  /* position: relative; */
}

.input-section form {
  padding: 32px 64px 32px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text900 {
  color: #212121;
}

.font-medium {
  font-weight: 500;
}

.title-medium {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

input {
  width: 300px;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 4px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
  display: inline-block;
}

.common-button-size {
  width: 300px;
  height: 40px;
}